<div class="popup-content">
  <div id="win-badge">
    <h2>You win!</h2>
  </div>
  <div id="lose-badge">
    <h2>You lose!</h2>
  </div>
  <table id="game-results">
    <tbody>
      <tr>
        <td><b>Time</b></td><td data-value="time"></td>
      </tr>
      <tr>
        <td><b>Squares Revealed<b></td><td data-value="squares-revealed"></td>
      </tr>
      <tr>
        <td><b>Mines Left<b></td><td data-value="mines-left"></td>
      </tr>
      <tr>
        <td><b>Clicks</b></td><td data-value="clicks"></td>
      </tr>
    </tbody>
  </table>
</div>