<div class="popup-content">
  <p>Dificulty</p>
  <div id="new-game-options">
    <a href="#" data-dificulty="kids-play">
      <span>Kid's Play</span>
    </a>
    <a href="#" data-dificulty="medium">
      <span>Medium</span>
    </a>
    <a href="#" data-dificulty="insane">
      <span>Insane</span>
    </a>
  </div>
</div>