<div class="popup-content">
  <p>To start a new game choose a difficulty</p>
  <div id="new-game-options">
    <a href="#" data-difficulty="kids-play">
      <span>Kid's Play</span>
    </a>
    <a href="#" data-difficulty="medium">
      <span>Medium</span>
    </a>
    <a href="#" data-difficulty="insane">
      <span>Insane</span>
    </a>
  </div>
</div>