html
    <head>
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
      //- chrome
      meta(name="theme-color" content="#1a1a1a")

      //- Windows Phone
      meta(name="msapplication-navbutton-color" content="#1a1a1a")

      //- iOS Safari
      meta(name="apple-mobile-web-app-capable" content="yes")
      meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

      title Minefield v2.0.0
    
    body
      header#top-bar
        #logo
        
        #controls(style="display:none")
          a.text(href="#" data-function="new-game") New Game
          a.text(href="#" data-function="pause") Pause
          a#bomb.icon(href="#")
          a#mute.icon(href="#")
          span#flags 0
          span#timer 0:00:00
        
      //- #bg-wrapper

      #content
        #start-wrapper
          a(href="#" data-function="start") - Click here to start -

      footer
        span
          b Minfield
          | &nbsp;2014 - 2020
        span Developed with ❤️ by Stéfano Zanata
        a(href="https://szanata.com" target="_blank") szanata.com
        span version 2.0.0

      //- preload
      div(style="width:0;height:0;overflow:hidden")
        img(alt="marked" src="./images/marked.svg" width="480" height="480")
        img(alt="doubt" src="./images/doubt.svg" width="480" height="480")
        img(alt="mine" src="./images/mine.svg" width="480" height="480")
        img(alt="kids-play" src="./images/kids-play.svg" width="1200" height="1200")
        img(alt="medium" src="./images/medium.svg" width="1200" height="1200")
        img(alt="insane" src="./images/insane.svg" width="1200" height="1200")
        img(alt="custom" src="./images/custom.svg" width="1200" height="1200")
        img(alt="win" src="./images/win.svg" width="1200" height="1200")
        img(alt="lose" src="./images/lose.svg" width="1200" height="1200")
        audio(src="./fx/click.wav")
        audio(src="./fx/explosion.wav")

      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-19972060-5', 'szanata.com');
        ga('send', 'pageview');
