@font-face {
  font-family: 'OpenSans';
  src: url( 'https://s3-sa-east-1.amazonaws.com/szanata/fonts/opensans/OpenSans-Regular-webfont.woff' ) format( 'woff' ),
       url( 'https://s3-sa-east-1.amazonaws.com/szanata/fonts/opensans/OpenSans-Regular-webfont.eot' ) format( 'embedded-opentype' )
  font-weight: 400;
  font-style: normal;
}
