@font-face {
  font-family: 'OpenSans';
  src: url( asset_path( 'fonts/opensans/OpenSans-Regular.eot' ) );
  src: url( "asset_path( 'fonts/opensans/OpenSans-Regular.eot' )?#iefix" ) format( 'embedded-opentype' ),
       url( asset_path( 'fonts/opensans/OpenSans-Regular.woff' ) ) format( 'woff' ),
       url( asset_path( 'fonts/opensans/OpenSans-Regular.ttf' ) ) format( 'truetype' ),
       url( asset_path( 'fonts/opensans/OpenSans-Regular.svg' ) ) format( 'svg' );
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ArmaliteRifle';
  src: url( asset_path( 'fonts/armaliterifle/armalite_rifle.eot' ) );
  src: url( "asset_path( 'fonts/armaliterifle/armalite_rifle.eot' )?#iefix" ) format( 'embedded-opentype' ),
       url( asset_path( 'fonts/armaliterifle/armalite_rifle.woff' ) ) format( '.woff' ),
       url( asset_path( 'fonts/armaliterifle/armalite_rifle.ttf' ) ) format( 'truetype' ),
       url( asset_path( 'fonts/armaliterifle/armalite_rifle.svg' ) ) format( 'svg' );
  font-weight: 400;
  font-style: normal;
}
