/*
* orange: E37900;
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  min-width:600px;
  min-height: 480px;
  height: 100%;
  width: 100%;
  position: absolute;
  background: url( asset_path('images/bg.png') ) repeat;
}
body.bomb-mode,
body.bomb-mode .square{
  cursor: url( asset_path( 'images/bomb-hover.png') ) 10 10, pointer!important;
}
* {
  outline:none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
a {
  text-decoration: none;
  color:#1a1a1a;
}
p { margin: 0 0 12px; }

#bg-wrapper {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url( asset_path( 'images/mine-bg.svg') ) no-repeat;
  background-position: right -40% bottom -200px;
  background-size: 60%;
}

#top-bar {
  height: 48px;
  font-size: 0;
  position: relative;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo {
  align-self: flex-start;
  flex: 1 1 240px;
  width: 240px;
  height: 100%;
  background: url( asset_path( 'images/logo.png') ) no-repeat  center;
  background-size: auto 40%;
}
#left-controls {
  flex: 2 1 300px;
  display: flex;
  align-items: center;
  a {
    display: inline-block;
    color: #fff;
    font-size: 1rem;
    margin-right: 18px;
    ^[1]:hover {
      text-decoration: underline;
    }
  }
}
#right-controls {
  align-self: flex-end;
  // flex: 1 1 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    margin-right: 18px;
    height: 100%;
    ^[1]#bomb {
      background-image: url( asset_path( 'images/bomb.svg' ) );
      background-size: auto 45%;
      ^[2].disabled { background-image: url( asset_path( 'images/bomb-disabled.svg') ); }
    }
    ^[1]#mute {
      background-image: url( asset_path( 'images/unmuted.svg' ) );
      background-size: auto 58%;
      ^[2].muted { background-image: url( asset_path( 'images/muted.svg') ); }
    }
  }

  span {
    font-family: monospace;
    color:#fff;
    background-position: center left;
    background-repeat: no-repeat;
    font-size: 1.3rem;
    margin: 0 12px;
    padding-left: 27px;

    ^[1]#timer {
      background-image: url( asset_path( 'images/time.svg' ) );
      background-size: auto 70%;
    }
    ^[1]#flags-counter {
      background-image: url( asset_path( 'images/mine-light.svg' ) );
      background-size: auto 80%;
    }
  }
}



#view-field-title {
  position: absolute;
  top: 0;
  color:#fff;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  width: 100%;
  z-index: 9999;
  text-shadow:none;
}
#start-wrapper {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-width: 600px;
  min-height: 400px;
  position: absolute;
  display: table;
  text-align: center;
  a {
    display: table-cell;
    color:#fff;
    vertical-align: middle;
    margin: 0 auto;
    font-weight: bolder;
    font-size: 40px;
    animation: 1s cubic-bezier(1.0,0,0,1.0) infinite blinker;
  }
}

@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
@-moz-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
@keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

/* field*/
#field-wrapper {
  width: 100%;
  text-align: center;
  min-height: calc(100% - 100px);
}
#field {
  margin: 0 auto;
  display: inline-block;
  font-size: 0;
  border-style:solid;
  border-width: 1px 0 0 1px;
  border-color: #222;
  background:
     url( asset_path( 'images/mine-transparent.svg') ) no-repeat center,
     url( asset_path( 'images/bg.png') ) repeat;
  background-size: auto 100%, auto;
}

/*
 * Style for a single square and its states
 */
.square {
  padding: 0;
  border: 1px solid #222;
  background-position: center;
  background-size: auto 50%;
  background-repeat: no-repeat;
  position: relative;
  font-family: arial;
  display: inline-block;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  border-style:solid;
  border-width: 0 1px 1px 0;
  border-color: #222;

  ~/:not(.mine):not(.done) { cursor: pointer; }

  ~/::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: bolder;
    line-height: inherit;
    background-size: auto 60%;
    background-repeat: no-repeat;
    background-position: center;
  }

  ~/.done{
    background: url( asset_path( 'images/field.png') ) repeat;

    ^[1].n_1:after { content: '1'; color: green; }
    ^[1].n_2:after { content: '2'; color: blue; }
    ^[1].n_3:after { content: '3'; color: orange; }
    ^[1].n_4:after { content: '4'; color: magenta; }
    ^[1].n_5:after { content: '5'; color: red; }
    ^[1].n_6:after { content: '6'; color: purple; }
    ^[1].n_7:after { content: '7'; color: lime; }
    ^[1].n_8:after { content: '8'; color: brown; }

    ^[1]::after {
      content:'';
      box-shadow: inset 0 0 3px rgba(0,0,0,.5);
    }
  }

  ~/.mine{
    background-color: #FF4A4A;
    background-image: url( asset_path( 'images/mine.svg' ) );
  }
  ~/.doubt,
  ~/.marked {
    overflow: hidden;
  }
  ~/.doubt::after,
  ~/.marked::after {
    content: '';
    border-radius: 50%;
    top: 5%;
    left: 5%;
    bottom: 5%;
    right: 5%;
    box-shadow: 0 0 30px 10px rgba(0,0,0,1);
  }
  ~/.doubt::after {
    background-color: #FFF891;
    background-image: url( asset_path( 'images/doubt.svg' ) );
  }
  ~/.marked::after {
    background-color: #8FFF82;
    background-image: url( asset_path( 'images/marked.svg' ) );
  }
}

#field:not(.no-hover) .square:not(.mine):not(.done):not(.doubt):not(.marked):hover:after,
#field:not(.no-hover) .square:not(.mine):not(.done):not(.doubt):not(.marked).bomb-hover:after {
  border: 1px solid #E37900;
  content:'';
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background-color: rgba(227, 121, 0, .3);
  box-shadow: 0 0 6px #e37900;
}



#new-game-options{ font-size: 0; }
#new-game-options a {
  display: inline-block;
  width: 24%;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center 40%;
  background-size: auto 40%;
  position: relative;
}
#new-game-options a:hover:after {
  content:'';
  width: 100%;
  height: 100%;
  top: -2px;
  left: -2px;
  position: absolute;
  border: 2px solid #E37900;
  background-color: rgba(227, 121, 0, .3);
  box-shadow: 0 0 6px #e37900;
}
#new-game-options a span {
  font-size: 18px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
#new-game-options a:not(:last-child) {
  margin-right: 1%;
}
#new-game-options a[data-difficulty="kids-play"] { background-image: url( asset_path( 'images/kids-play.svg') ); }
#new-game-options a[data-difficulty="medium"] { background-image: url( asset_path( 'images/medium.svg') ); }
#new-game-options a[data-difficulty="insane"] { background-image: url( asset_path( 'images/insane.svg') ); }
#new-game-options a[data-difficulty="custom"] { background-image: url( asset_path( 'images/custom.svg') ); }

footer {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-indent: 10px;
  color: #fff;

  a { color:#E37900; }
}

#lose-badge,
#win-badge {
  text-align: center;
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-position:center 60%;
  background-size:auto 70%;
}
#lose-badge { background-image: url( asset_path( 'images/lose.svg') ); }
#win-badge { background-image: url( asset_path( 'images/win.svg') ); }

#game-results {
  width: 100%;
  border-collapse: collapse;
}
#game-results tr td:last-child {
  text-align: right;
}

#lollipop-popup {
  .button, button {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    padding: 0 15px;
    border-radius: 6px;
    border:none;
    position: relative;

    ^[1]:hover::after {
      position: absolute;
      border: 1px solid #E37900;
      content: '';
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      background-color: rgba(227, 121, 0, .3);
      box-shadow: 0 0 6px #e37900;
    }

    ^[1]:not(:last-child) {
      margin-right: 12px;
    }
  }
}

#lollipop-block-layer {
  background-color:rgba(0,0,0,.7);
}
#lollipop-popup {
  border: 8px solid #666;
  border-radius: 6px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color:#1a1a1a;
  color:#f2f2f2;
}
#lollipop-popup * {
  color:#f2f2f2;
}
#lollipop-popup-header {
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
}
#lollipop-popup-body {
  padding: 10px 10px 50px;
}
#lollipop-popup-footer {
  text-align:center;
  padding: 10px;
}

.custom-game-content-field-wrapper {
  margin-bottom: 10px;
}
.custom-game-content {
  small {
    display: block;
  }
  input {
    border: 1px solid #000;
    font-size: 18px;
    padding: 2px 10px;
    text-shadow: none!important;
    color: #1a1a1a!important;
    border-radius: 5px;
    margin: 0 5px;
    width: 50px;
  }
}

.error {
  display: block;
  color: red!important;
  font-size: 14px;
}
