@font-face {
    font-family: 'armalite_rifleregular';
    src: url('/styles/armaliterifle/armalite_rifle-webfont.eot');
    src: url('/styles/armaliterifle/armalite_rifle-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/armaliterifle/armalite_rifle-webfont.woff') format('woff'),
         url('/styles/armaliterifle/armalite_rifle-webfont.ttf') format('truetype'),
         url('/styles/armaliterifle/armalite_rifle-webfont.svg#armalite_rifleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

